/* Lightbox Styles
===================================================================================================================== */

.ekko-lightbox {
  
  .ekko-lightbox-nav-overlay a {
    
    color: #fff;
    text-decoration: none;
    
    > span {
      text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    }
    
  }
  
}
